.introduction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    margin: 0 auto;
    width: 100%;
    max-width: 760px;
}

#ikigai {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}