{{ define "main" }}
    <main aria-role="main">
        <div>
            <p class="introduction">
            Allright, so you're here! I just felt like that PDF was a bit too clumsy to read.
            And I want to give you the best cover-letter/resume reading experience you ever had!
            </p>
            
            <h1>{{ .Site.Title }}</h1>

            {{- with .Site.Params.homeSubtitle }}
                <p>{{.}}</p>
            {{- end }}
                <p class="introduction">
                    I'm a software developer living in Bangalore, India. You should totally hire me.
                    <br>
                </p>
                <br>

                <div>
                    <a href="posts/what-makes-me-a-good-fit">
                    <strong>To start off, why me?</strong>
                    </a>
                </div>
                <br>    

                <div>
                    <a href="posts/my-portfolio">
                    <strong>Click here to see my portfolio.</strong>
                    </a>
                </div><br>
                <div>
                    <a href="posts/favorite-recent-web-technology">
                    <strong>A fairly newer (less than five years old) web technology that I like, and why.</strong>
                    </a>
                </div>
                <br><br>
                <img id="ikigai" src="images/ikigai.png" />
                
                
                <br><br>

                Can we chat? My email is <strong>ashwin01h@gmail.com</strong>
            </p>
            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
    </main>
{{ end }}
